.header
  %h2 Editing #{@question.title}

.content
  - if @question.class == TextQuestion
    = render '/questions/text_form'
    
  - if @question.class == DictationQuestion
    = render '/questions/dictation_form'

  - if @question.class == MultipleChoiceQuestion
    = render '/questions/multiple_choice_form'
