.header
  %h2 Manage Quizzes
  
.content
  %table.big
    %tr
      %th Title
      %th Number of Questions
      %th Actions
      %th Unique ID

    = render :partial => '/shared/quiz_row', :collection => @quizzes, :as => :quiz
    
  = simple_form_for Quiz.new do |f|
    = f.input :title
    = f.submit "Create New Quiz", :class => "green-rounded"

-# link_to new_quiz_url do 
  .green-rounded Create New Quiz
