.header
  %h2 #{@quiz.title } summary

.content
  %table.big
    %thead
      %tr
        %th Title
        %th Audio
        %th Image
        %th Question Type
        %th
    %tbody
      = render :partial => '/shared/question_row', :collection => @quiz.questions, :as => :question



  .green-rounded= link_to "Add Questions", new_quiz_question_url(@quiz)