.header
  %h2 Taking Quiz #{ @quiz.title }
  
.content
  #flashplayer{:style => "width: 720px; margin: auto;"}
:javascript
  $(document).ready(function() {    
    $('#flashplayer').flash({
        src: "/quiz.v1.3.1.swf?QuizId=#{@quiz.id}&UserId=#{current_user.id}",
        width: "720",
        height: "580",
        allowscriptaccess: "always"
    });
  });