h1, h2, h3, h4, h5 { font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif; }
body { font-family: Arial, Helvetica, Verdana, sans-serif; }
#menu {
    height: 40px;
    color: #fff;
    background-color: #523e35;
    line-height: 40px;
    padding-left: 15px;
    font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}
.green-rounded {
    background: #AED93C;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #a5cb44),
                                color-stop(0.7, #adda3d), color-stop(0.96, #bee263), color-stop(1, #99EB79));
    background: -moz-linear-gradient(center bottom, #a5cb44 0%,
                                    #adda3d 70%, #bee263 96%, #99EB79 99%) repeat scroll 0 0;

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a5cb44', endColorstr='#adda3d');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a5cb44', endColorstr='#adda3d')";

    font-size: 13px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #aed93c;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 27px;
    padding: 0 16px 4px;
    text-shadow: 0 0 3px #79972a;
    width: auto;
    cursor: pointer;
    margin: auto;
    font-size: 13px;
}
.green-rounded a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

span.error {
    padding: 3px 3px;
    margin: 0;
    font-size: 10px;
    width: 65px;
    display: block;
}
.header {    
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    background-color: #fafafa;
}
.content {
    padding-left: 30px;
    padding-right: 30px;
}
#errorExplanation.error h4 { color: #D12F19;}


.link-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
    background-color: #e8e8e8;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}
.link-button a {
    color: #333;
    font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* New Questions page */
.new-question-column {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #cccccc;
}


/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, span.error,
#flash_failure, #flash_success, #flash_notice {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em; }

div.error, span.error,
#flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

div.error a, span.error,
#flash_failure a {
  color: #D12F19; }

div.notice,
#flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134; }

div.notice a,
#flash_notice a {
  color: #817134; }

div.success,
#flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214; }

div.success a,
#flash_success a {
  color: #529214; }


/* Flutie default styles overrides **/
#main_notice.notice, #main_error.error {
    border-color: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
span.error, #error_explanation {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em; }

span.error, #error_explanation {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

#error_explanation h2 {
    color: #D12F19;
    font-size: 18px;
}
span.error, #error_explanation {
  color: #D12F19; }


textarea {
    width: 297px;
    height: 80px;
}
.big-and-pretty {
    font-size: 18px;
    font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;
}
table.big td {
    height: 28px;
}
table.big td.title {
    font-size: 16px;
    padding-left: 10px;
    font-family: Ubuntu, Arial, Helvetica, Verdana, sans-serif;    
}
tr.highlight {
    background-color: #F1FFCC;
}
table.big td.sub, table.big td.last_sub {
    height: 20px;
    color: #999;
    font-size: 12px;
    padding-left: 30px;
}
table.big td.last_sub {
    border-bottom-color: #eeeeee;
}