.header
  %h2 Welcome back #{current_user.full_name}!

.content
  %h2 All Quizzes
  %table.big
    %tr
      %th Title
      %th Number of Questions
      %th Actions
      %th Unique ID
      
    = render :partial => '/shared/quiz_row', :collection => Quiz.all, :as => :quiz